.main-container{
    height: 100vh;
    background-image: url(../../globals/imagens/estampa_sumai-azul.jpeg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section{
    background-color: var(--branco-fundo);
    padding: 3rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    margin: 0 10rem;
    width: 100%;
}

.main-section h1{
    font-weight: normal;
    font-size: 2rem;
}

.main-section span{
    color: var(--azul-secundario);
    font-weight: bold;
    font-size: 2rem;
}

.opcoes-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    gap: 2rem;
    flex-wrap: wrap;
}

.opcao{
    text-decoration: none;
    background-color: var(--azul-primario);
    color: white;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    transition: 0.3s;
}

.opcao:hover{
    background-color: var(--azul-secundario);
}

.opcao img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.opcao div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 1rem 3rem;
}

.opcao div img{
    width: 24px;
}




@media (max-width: 1270px){
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .main-section{
        background-color: transparent;
        box-shadow: none;
        height: 75%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }

    .main-section h1{
        background-color: var(--branco-fundo);
        border-radius: 0 20px 20px 0;
        width: 50%;
        padding: 1rem 2rem 1rem 10rem;
    }

    .opcoes-container{
        background-color: var(--branco-fundo);
        padding: 1.5rem 10rem;
        border-radius: 20px 20px 0 0;
        flex-direction: column;

    }

    .opcao>img{
        display: none;
    }

}

@media (max-width: 800px){
    .opcoes-container{
        padding: 2rem 5rem;
    }

    .opcao div{
        padding: 1rem 1rem;
    }

    .main-section h1{
        padding: 1rem 2rem 1rem 5rem;
    }

    
}

@media (max-width: 500px){
    .opcoes-container{
        padding: 2rem 2rem;
    }

    .main-section h1{
        padding: 1rem 2rem 1rem 2rem;
    }

   
}

