:root{
    --branco-fundo: #FFFFFF;
    --azul-principal: #193B6A;
    --azul-secundario: #00A5CE;
    --verde-primario: #4A9C0E;
    --verde-secundario: #5CBE14;
    --vermelho-primario: #C00F0C;
    --laranja-primario: #F38F1A;
    --amarelo-infra: #FFCC16;
}