:root{
    --branco-fundo: #FFFFFF;
    --branco-secundario: #F5F5F5;
    --cinza-principal: #cacaca;
    --cinza-secundario: #eaeaea;
    --azul-primario: #193B6A;
    --azul-secundario: #00A5CE;
    --verde-primario: #4A9C0E;
    --verde-secundario: #5CBE14;
    --vermelho-primario: #C00F0C;
    --vermelho-secundario: #E00E0E;
    --laranja-primario: #F38F1A;
    --laranja-secundario: #FFCC16;
}