<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/home/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    
    
    <title>SIGMP - Home</title>
    
    <script defer type="module" src="/home/js/home.js"></script>
</head>
<body>
    <header class="cabecalho-container">
        <img class="logo" src="/globals/imagens/logo_sumai.png" alt="">
        <nav class="nav-container">
            <a href="/home" class="cabecalho-link">
                <img src="/globals/imagens/icones/home.png" alt="">
                <p>Início</p>
            </a>
            <a href="#" class="cabecalho-link logout">
                <img src="/globals/imagens/icones/sair.svg" alt="">
                <p>Sair do Sistema</p>
            </a>
        </nav>
        <button class="burguerMenu">
            <img src="/globals/imagens/icones/menu.svg" alt="">
        </button>
    </header>
    <div class="burguerMenu-info">
        <a href="/home" class="cabecalho-link">
            <img src="/globals/imagens/icones/home.png" alt="">
            <p>Início</p>
        </a>
        <a href="#" class="cabecalho-link burguerMenu-itens logout">
            <img src="/globals/imagens/icones/sair.svg" alt="">
            <p>Sair do Sistema</p>
        </a>
    </div>
    <main class="main-container">
        <div class="main-container-interno">
            <h1>Seja bem-vindo, <span id="name">Lucas Perrone</span></h1>
            <section class="section atendimentosDia">
                <h2>Atendimentos Aprovados do Dia</h2>
                <div class="container-atendimentos">
                    <ul class="atendimentos-lista">
                        
                    </ul>
                    <canvas id="graficoCampus"></canvas>
                </div>
            </section>
            <section class="section pendentes">
                <h2>Atendimentos Pendentes</h2>
                <div class="input-container">
                    <div>
                        <label for="campus">Campus:</label>
                        <select name="campus" id="campus">
                            <option value="all">Todos</option>
                            <option value="canela">Canela</option>
                            <option value="centro">Centro</option>
                            <option value="zona-sul">Zona Sul</option>
                        </select>
                    </div>
                    <div>
                        <label for="data">Data:</label>
                        <input type="date" name="data" id="data">
                    </div>
                </div>
                <button id="buscarPendentes">Buscar</button>
                <ul class="atendimentos-lista lista-pendentes">
                    
                </ul>
            </section>
        </div>
    </main>
    <footer class="rodape">
        <p>Desenvolvido por <a href="https://lucasperrone21.github.io/Portfolio/">Lucas Perrone</a> | © 2024 Todos os direitos reservados.</p>
        <div class="rodape-social-container">
            <a href="https://br.linkedin.com/in/lucasperrone21" class="rodape-social">
                <img src="/globals/imagens/icones/linkedin.svg" alt="">
                <p>LinkedIn</p>
            </a>
            <a href="https://github.com/LucasPerrone21" class="rodape-social">
                <img src="/globals/imagens/icones/github.svg" alt="">
                <p>GitHub</p>
            </a>
        </div>
    </footer>

    <div class="loadingContainer">
        <div class="loadingBola"></div>
    </div>


    <section class="modal-container" data-modal="pendentes">
        <div class="modal">
            <h3 class="modalLocal">Local do Chamado</h3>
            <p class="localAtendimento">Campus: <span class="modalCampus">Canela</span></p>
            <p class="localAtendimento">Unidade: <span class="modalUnidade">Reitoria</span></p>
            <p class="localAtendimento">Status: <span class="modalStatus" data-modal_status="PENDING">Pendente</span></p>
            <h4>Funcionários:</h4>
            <ul class="listaFuncionarios">
                
            </ul>
            <div class="btn-container">
                <button class="btn-reprovar">Reprovar</button>
                <button class="btn-aprovar">Aprovar</button>
            </div>
            <button class="btn-voltar">Voltar</button>
        </div>
    </section>

    <section class="modal-container" data-modal="editar">
        <div class="modal">
            <h3 class="modalLocal">Local do Chamado</h3>
            <p class="localAtendimento">Campus: <span class="modalCampus">Canela</span></p>
            <p class="localAtendimento">Unidade: <span class="modalUnidade">Reitoria</span></p>
            <p class="localAtendimento">Status: <span class="modalStatus" data-modal_status="PENDING">Pendente</span></p>
            <h4>Funcionários:</h4>
            <ul class="listaFuncionarios">
                
            </ul>
            <div class="btn-container">
                <button class="btn-voltar">Voltar</button>
                <button class="btn-editar">Editar</button>
            </div>
        </div>
    </section>

    <section class="modal-container" data-modal="aprovar">
        <div class="modal modal-mini">
            <h3 class="modalLocal">Aprovar Atendimento?</h3>
            <p>Deseja realmente aprovar este Atendimento? Esta ação não poderá ser desfeita.</p>
            <div class="btn-container">
                <button class="btn-voltar">Voltar</button>
                <button class="btn-aprovar">Aprovar</button>
            </div>
        </div>
    </section>

    <section class="modal-container" data-modal="reprovar">
        <div class="modal modal-mini">
            <h3 class="modalLocal">Reprovar Atendimento?</h3>
            <p>Deseja realmente apagar este Atendimento? As mudanças não poderão ser desfeitas.</p>
            <div class="btn-container">
                <button class="btn-voltar">Voltar</button>
                <button class="btn-reprovar">Reprovar</button>
            </div>
        </div>
    </section>

    
    
</body>
<script  src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</html>