<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/homeSuperAdmin/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">


    <title>SIGMP - Home</title>


    <script type="module" src="/homeSuperAdmin/js/home.js"></script>
</head>
<body>
    <header class="cabecalho-container">
        <img class="logo" src="/globals/imagens/logo_sumai.png" alt="">
        <nav class="nav-container">
            <a href="#" class="cabecalho-link logout">
                <img src="/globals/imagens/icones/sair.svg" alt="">
                <p>Sair do Sistema</p>
            </a>
        </nav>
        <button class="burguerMenu">
            <img src="/globals/imagens/icones/menu.svg" alt="">
        </button>
    </header>
    <div class="burguerMenu-info">
        <a href="#" data-tipo="usuarios" class="cabecalho-link burguerMenu-itens seletor">
            <img src="/globals/imagens/icones/usuario.png" alt="">
            <p>Usuários</p>
        </a>
        <a href="#" data-tipo="campus" class="cabecalho-link burguerMenu-itens seletor">
            <img src="/globals/imagens/icones/campus.png" alt="">
            <p>Campus</p>
        </a>
        <a href="#" data-tipo="unidades" class="cabecalho-link burguerMenu-itens seletor">
            <img src="/globals/imagens/icones/unidades.png" alt="">
            <p>Unidades</p>
        </a>
        <a href="#" data-tipo="empresas" class="cabecalho-link burguerMenu-itens seletor">
            <img src="/globals/imagens/icones/empresa-branco.png" alt="">
            <p>Empresas</p>
        </a>
        <a href="#" data-tipo="funcoes" class="cabecalho-link burguerMenu-itens seletor">
            <img src="/globals/imagens/icones/funcao.png" alt="">
            <p>Funções</p>
        </a>
        <a href="#" data-tipo="funcionarios" class="cabecalho-link burguerMenu-itens seletor">
            <img src="/globals/imagens/icones/funcionarios.png" alt="">
            <p>Funcionários</p>
        </a>
        <a href="#" class="cabecalho-link burguerMenu-itens logout">
            <img src="/globals/imagens/icones/sair.svg" alt="">
            <p>Sair do Sistema</p>
        </a>
    </div>

        

    <main class="main-container">
        <aside>
            <ul class="linksContainer">
                <li><a class="seletor" data-tipo="usuarios" href="#">Usuários</a></li>
                <li><a class="seletor" data-tipo="campus" href="#">Campus</a></li>
                <li><a class="seletor" data-tipo="unidades" href="#">Unidades</a></li>
                <li><a class="seletor" data-tipo="empresas" href="#">Tercerizadas</a></li>
                <li><a class="seletor" data-tipo="funcoes" href="#">Funções</a></li>
                <li><a class="seletor" data-tipo="funcionarios" href="#">Funcionários</a></li>
            </ul>
        </aside>

        <section class="main-section" data-tipo="usuarios">
            <h1>Usuários</h1>
            <label for="">Email:</label>
            <input type="search" placeholder="Ex: example@example.br">
            <ul class="listaContainer">                
            </ul>
            <button class="btn-add"><img src="/globals/imagens/icones/adicionar-usuario.png" alt=""><p>Adicionar usuário</p></button>
        </section>

        <section class="main-section" data-tipo="campus">
            <h1>Campus</h1>
            <ul class="listaContainer">
               
            </ul>
            <button class="btn-add"><img src="/globals/imagens/icones/campus.png" alt=""><p>Adicionar campus</p></button>
        </section>

        <section class="main-section" data-tipo="unidades">
            <h1>Unidades</h1>
                <label for="unidadeCampus">Campus:</label>
                <select name="campus" id="unidadeCampus">
                    <option value="0">Todos</option>
                    <option value="1">Ondina</option>
                    <option value="2">Canela</option>
                    <option value="3">Federação</option>
                    <option value="4">Unidades Dispersas</option>
                </select>
            <ul class="listaContainer">
            </ul>
            <button class="btn-add"><img src="/globals/imagens/icones/campus.png" alt=""><p>Adicionar unidade</p></button>
        </section>

        <section class="main-section" data-tipo="empresas">
            <h1>Empresas</h1>
            <ul class="listaContainer">               
            </ul>
            <button class="btn-add"><img src="/globals/imagens/icones/campus.png" alt=""><p>Adicionar empresa</p></button>
        </section>

        <section class="main-section" data-tipo="funcoes">
            <h1>Funcoes dos Empregados</h1>
            <label for="funcoesEmpresa">Empresa:</label>
            <select name="empresas" id="funcoesEmpresa">
                <option value="1">RCS Tecnologia</option>
                <option value="2">Arconfrio</option>
                <option value="3">Elevadores e CIA</option>

            </select>
            <ul class="listaContainer">
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Pedreiro</p>
                        <p>RCS Tecnologia</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>

                
            </ul>
            <button class="btn-add"><p>Adicionar função</p></button>
        </section>

        <section class="main-section" data-tipo="funcionarios">
            <h1>Funcionários</h1>
            <label for="funcionariosEmpresa">Empresa:</label>
            <select name="empresas" id="funcionariosEmpresa">
                <option value="1">RCS Tecnologia</option>
                <option value="2">Arconfrio</option>
                <option value="3">Elevadores e CIA</option>

            </select>
            <ul class="listaContainer">
                <li>
                    <div class="listaInfo">
                        <p>Neymar</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Alisson</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Thiago Silva</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Casemiro</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Marquinhos</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Philippe Coutinho</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Gabriel Jesus</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Richarlison</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Vinícius Júnior</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Fred</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>
                <li>
                    <div class="listaInfo">
                        <p>Éder Militão</p>
                        <p>Jogador</p>
                    </div>
                    <img src="/globals/imagens/icones/funcionarios-preto.png" alt="">
                </li>

                
            </ul>
            <button class="btn-add"><p>Adicionar função</p></button>
        </section>
    </main>
    <footer class="rodape">
        <p>Desenvolvido por <a href="https://lucasperrone21.github.io/Portfolio/">Lucas Perrone</a> | © 2024 Todos os direitos reservados.</p>
        <div class="rodape-social-container">
            <a href="https://br.linkedin.com/in/lucasperrone21" class="rodape-social">
                <img src="/globals/imagens/icones/linkedin.svg" alt="">
                <p>LinkedIn</p>
            </a>
            <a href="https://github.com/LucasPerrone21" class="rodape-social">
                <img src="/globals/imagens/icones/github.svg" alt="">
                <p>GitHub</p>
            </a>
        </div>
    </footer>


    <div class="loadingContainer">
        <div class="loadingBola"></div>
    </div>

    <section data-modal="editarUsuario" class="">
        <form class="containerModal formCadastro">
            <h2>Editar Usuário</h2>
            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="name">Nome:</label>
                    <input type="text" name="name">
                </div>
                <div class="inputUnico">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email">
                </div>
            </div>
            <div class="inputUnico">
                <label for="senha">Senha:</label>
                <input type="password" required placeholder="******" minlength="6" name="senha">
            </div>
            <div class="inputUnico">
                <label for="empresa">Empresa:</label>
                <select name="empresa">
                    <option value="1">Superintendência de Meio Ambiente e Infraestrutura</option>
                    <option value="2">RCS Tecnologia</option>
                    <option value="3">Arconfrio</option>
                </select>
            </div>
            <h3>Permissão:</h3>
            <div class="inputRadio">
                <input type="radio" id="TECHNICAL_MANAGER_editar" value="TECHNICAL_MANAGER" name="permissao">
                <label for="TECHNICAL_MANAGER">
                    <p class="tituloPermissao">Gerente Técnico</p>
                    <p class="desc">São aqueles encarregados de repassar as Ordens de Serviços aos operários</p>
                </label>
            </div>
            <div class="inputRadio">
                <input type="radio" id="TECHNICAL_ADMIN_editar" value="TECHNICAL_ADMIN" name="permissao">
                <label for="TECHNICAL_ADMIN">
                    <p class="tituloPermissao">Administrador Técnico</p>
                    <p class="desc">São aqueles responsáveis de ver o andamento das obras. Ex: SUMAI</p>
                </label>
            </div>
            <div class="inputRadio">
                <input type="radio" id="SUPERADMIN_editar" value="SUPERADMIN" name="permissao">
                <label for="SUPERADMIN">
                    <p class="tituloPermissao">Adminstrador Master</p>
                    <p class="desc">Responsável por dar manutenção a este sistema.</p>
                </label>
            </div>
            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>

    <section data-modal="cadastrarUsuario" class="">
        <form class="containerModal">
            <h2>Cadastrar Usuário</h2>
            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="name">Nome:</label>
                    <input type="text" name="name">
                </div>
                <div class="inputUnico">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email">
                </div>
            </div>
            <div class="inputUnico">
                <label for="senha">Senha:</label>
                <input type="password">
            </div>
            <div class="inputUnico">
                <label for="empresa">Empresa:</label>
                <select name="empresa">
                    <option value="1">Superintendência de Meio Ambiente e Infraestrutura</option>
                    <option value="2">RCS Tecnologia</option>
                    <option value="3">Arconfrio</option>
                </select>
            </div>
            <h3>Permissão:</h3>
            <div class="inputRadio">
                <input type="radio" id="TECHNICAL_MANAGER_cadastro" value="TECHNICAL_MANAGER" name="permissao">
                <label for="TECHNICAL_MANAGER">
                    <p class="tituloPermissao">Gerente Técnico</p>
                    <p class="desc">São aqueles encarregados de repassar as Ordens de Serviços aos operários</p>
                </label>
            </div>
            <div class="inputRadio">
                <input type="radio" id="TECHNICAL_ADMIN_cadastro" value="TECHNICAL_ADMIN" name="permissao">
                <label for="TECHNICAL_ADMIN">
                    <p class="tituloPermissao">Administrador Técnico</p>
                    <p class="desc">São aqueles responsáveis de ver o andamento das obras. Ex: SUMAI</p>
                </label>
            </div>
            <div class="inputRadio">
                <input type="radio" id="SUPERADMIN_cadastro" value="SUPERADMIN" name="permissao">
                <label for="SUPERADMIN">
                    <p class="tituloPermissao">Adminstrador Master</p>
                    <p class="desc">Responsável por dar manutenção a este sistema.</p>
                </label>
            </div>
            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>

    <section data-modal="editarCampus" class="">
        <form class="containerModal formCadastro">
            <h2>Editar Campus</h2>
            <div class="inputUnico">
                <label for="name">Nome:</label>
                <input type="text" name="name">
            </div>
            <div class="inputUnico">
                <label for="text">Endereco:</label>
                <textarea name="address"></textarea>
            </div>
            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>

    <section data-modal="cadastrarCampus" class="">
        <form class="containerModal formCadastro">
            <h2>Cadastrar Campus</h2>
            <div class="inputUnico">
                <label for="name">Nome:</label>
                <input type="text" name="name">
            </div>
            <div class="inputUnico">
                <label for="text">Endereco:</label>
                <textarea name="address"></textarea>
            </div>
            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>

    <section data-modal="editarUnidade" class="">
        <form class="containerModal formCadastro">
            <h2>Editar Unidade</h2>
            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="name">Nome:</label>
                    <input type="text" name="name">
                </div>
                <div class="inputUnico">
                    <label for="codSipac">Cod. SIPAC:</label>
                    <input type="number" name="codSipac">
                </div>
            </div>
            
            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="latitude">Latitude:</label>
                    <input type="number" name="latitude">
                </div>
                <div class="inputUnico">
                    <label for="longitude">Longitude:</label>
                    <input type="number" name="longitude">
                </div>
            </div>

            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1175.3286692004099!2d-38.50765498548899!3d-13.00159895639684!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1spt-BR!2sbr!4v1729790825816!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>

    <section data-modal="cadastrarUnidade" class="">
        <form class="containerModal formCadastro">
            <h2>Cadastrar Unidade</h2>
            <div class="inputUnico">
                <label for="campus">Campus:</label>
                <select name="campus">
                    <option value="1">Ondina</option>
                    <option value="2">Canela</option>
                    <option value="3">Federação</option>
                    <option value="4">Unidades Dispersas</option>
                </select>
            </div>
            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="name">Nome:</label>
                    <input type="text" name="name">
                </div>
                <div class="inputUnico">
                    <label for="codSipac">Cod. SIPAC:</label>
                    <input type="number" name="codSipac">
                </div>
            </div>
            
            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="latitude">Latitude:</label>
                    <input type="number" name="latitude">
                </div>
                <div class="inputUnico">
                    <label for="longitude">Longitude:</label>
                    <input type="number" name="longitude">
                </div>
            </div>

            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>

    <section data-modal="editarEmpresa" class="">
        <form class="containerModal formCadastro">
            <h2>Editar Empresa</h2>
            <div class="inputUnico">
                <label for="name">Nome:</label>
                <input type="text" name="name">
            </div>
            
            <div class="inputUnico">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email">
                </div>

            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" name="telefone">
                </div>
                <div class="inputUnico">
                    <label for="cnpj">CNPJ:</label>
                    <input type="number" name="cnpj">
                </div>
            </div>

            
            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>

    <section data-modal="cadastrarEmpresa" class="">
        <form class="containerModal formCadastro">
            <h2>Cadastrar Empresa</h2>
            <div class="inputUnico">
                <label for="name">Nome:</label>
                <input type="text" name="name">
            </div>
            
            <div class="inputUnico">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email">
                </div>

            <div class="inputDuplo">
                <div class="inputUnico">
                    <label for="telefone">Telefone:</label>
                    <input type="tel" name="telefone">
                </div>
                <div class="inputUnico">
                    <label for="cnpj">CNPJ:</label>
                    <input type="number" name="cnpj">
                </div>
            </div>

            
            <div class="containerBotoes">
                <button class="btn-modal fechar">Fechar</button>
                <button class="btn-modal confirmar">Salvar</button>       
            </div>
        </form>
    </section>



</body>
</html>