.cabecalho-container{
    background-color: var(--branco-fundo);
    display: flex;
    justify-content: space-between;
    padding:  0 10rem;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.cabecalho-container img{
    width: 48px;
    height: 48px;
}

.nav-container{
    display: flex;
}

.cabecalho-link{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: white;
    padding: 1.5rem;
    background-color: var(--laranja-primario);
    transition: 200ms;
}

.cabecalho-link img{
    width: 24px;
    height: 24px;
}

.cabecalho-link:hover{
    background-color: var(--laranja-secundario);
}

.burguerMenu{
    display: none;
}


.burguerMenu-info{
    display: none;
}

.burguerMenu-info a:hover{
    background-color: var(--laranja-secundario);
    cursor: pointer;
}

.burguerMenu-info.ativo{
    display: none;
    position: fixed;
    z-index: 2;
    height: 100vh;
    top: 4.5rem;
    left: 0;
    width: 100%;
    background-color: var(--laranja-primario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    animation: 300ms ease-in-out 0s 1 slideInFromRight;
}

.burguerMenu-info a{
    color: white;
    margin: 1rem 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 2rem 10rem;
    width: 100%;
}


@keyframes slideInFromRight{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@media (max-width: 1400px){
    .cabecalho-container{
        background-color: var(--laranja-primario);
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        padding: 0;
        padding: 1rem 0;
    }

    .nav-container{
        display: none;
    }

    .logo{
        margin-left: 10rem;
        padding: 2px;
        background-color: white;
        border-radius: 10px;
    }

    .burguerMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: none;
        border: none;
        background-color: transparent;
        margin-right: 10rem ;
        color: white;
    }

    .burguerMenu img{
        width: 48px;
        height: 48px;
        background-color: transparent;
    }

    .burguerMenu img:hover{
        cursor: pointer;
    }

    .burguerMenu img:focus{
        outline: none;
    }
}

@media (max-width: 800px){
    .burguerMenu{
        margin-right: 5rem;
    }

    .logo{
        margin-left: 5rem;
    }

    .cabecalho-container{
        padding: .5rem 0;
    }

    .burguerMenu-info.ativo{
        top: 3.8rem;
    }

    .burguerMenu-info a{
    padding: 2rem 5rem;     
    }

}

@media (max-width: 500px){
    .burguerMenu{ 
        margin-right: 2rem;
    }

    .burguerMenu img{
        width: 24px;
        height: 24px;
    }

    .logo{
        margin-left: 2rem;
    }

    .cabecalho-container{
        padding: .5rem 0;
    }

    .cabecalho-container img{
        width: 36px;
        height: 36px;
    }

    .burguerMenu-info.ativo{
        top: 3.4rem;
    }

    .burguerMenu-info a{
        padding: 2rem;

    }

}