.login-container{
    background-image: url('../../globals/imagens/estampa_verdeMusgo.jpg');
    
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login{
    display: flex;
    flex-direction: column;
    background-color:var(--branco-fundo);
    width: fit-content;
    border-radius: 20px;
    padding: 24px;
    max-width: 400px;
    gap: 0.75rem;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
}

.login h1{
    font-size: 1.125rem;
    text-align: center;
    font-weight: bold;
}

.login label{
    margin-bottom:.25rem ;
}

.login input{
    padding: 0.75rem 1rem;
    border-radius: 10px;
    background-color: var(--branco-fundo);
    border: 1px solid var(--cinza-principal);
}

.login button{
    font-size: 1rem;
    padding: 0.75rem 1rem;
    border-radius: 10px;
    background-color: var(--verde-primario);
    border: none;
    color: var(--branco-fundo);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 200ms;
}

.login div{
    display: flex;
    flex-direction: column;
}

.login button:hover{
    background-color: var(--verde-secundario);
}

.login input.error{
    border: 1px solid red;
}

.error-message{
    color: red;
    font-size: 0.875rem;
}


@media screen and (max-width: 500px){
    .login{
        margin: 2rem;
        max-width: 278px;
        padding: 12px;
    }
    
}

